src/main/mule/sys-epi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c2efbd50-e26c-4b2a-b4c6-d3bfb4d59b20" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="858e4ae3-118f-4cfd-973b-34c3711e3f53" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="admin" database="student" />
	</db:config>
	<flow name="exe-epiFlow" doc:id="a63b7a5e-0fd0-44f9-9030-f2bfa4990a2b" >
		<http:listener doc:name="Listener" doc:id="c3de0c3d-9cbb-4c98-a8ed-7f4d9943570e" config-ref="HTTP_Listener_config" path="/exe"/>
		<db:select doc:name="Select" doc:id="cdcae264-5192-4ef2-8ea1-8cf911ef6863" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from studentdetails]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="1e6a9e2f-8cad-498a-9d6a-88a6fde72c89" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c27fe054-ecdf-46e8-9c36-29ac71ed0efa" message="#[payload]"/>
	</flow>
</mule>
